* {
    margin: 0;
}
.footer{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    font-size: 18px;
    background-color: #e8eff6;    
    
}

.footer-list{
margin-top: 25px;
 list-style:none;
 color:#999999; 

}



