* {

font-family: 'Open Sans', sans-serif;
}

 body{
    position: relative;
    min-height: 100vh;
    padding-bottom: 3em;
    background-color:rgba(247, 250, 253, 1); 
    display: flex;
    flex-direction: column;
    margin-bottom: 400px;
} 

main{

/*background-image: url("./assets/Desktop - 1.png");*/
 width: 100%;
/*height:600px;*/
margin-top: 0; 



}
#geometric-icons{
   
    display: flex;
    justify-content: space-between;
    padding-top: 10%;

}
#green-diamond{
    height: 1.3%;
    width: 1.2%;
    padding-left: 100px;
 
}
#yellow-circle{
    height: 1%;
    width:1.2%;
    padding-left: 1%;
    padding-right: 150px;
}

.text{
text-align:center ;
margin: 0px 100px 0 100px ;



}

h1{
    font-size: 64px;
    margin-bottom: 30px;
    padding-top: 150px;
}

#landing-text{
    font-size: 18px;
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    word-spacing:5px;
}

.downloads{

    margin-top: 30px;
    text-align: center;
    

}
.button-apple{
    background-color: #ff556e;
    color: rgba(247, 250, 253, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    border-color: #ff556e;
    border: none;
    display: inline-block;
    

}
.button-apple:hover{
    background-color:#c09efd;
}


.button-android{
    background-color: #ff556e; 
    color: rgba(247, 250, 253, 1);
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 25px;
    padding: 10px 25px 10px 25px;
    border-color: #ff556e;
    border:none;
    margin-left: 15px;
    
}
.button-android:hover{
    background-color:#c09efd;
}


.index-phone{
width: 700px;
display: block;
margin-left: auto;
margin-right: auto;
padding-top: 50px;
padding-bottom: 50px;
animation: mobile 3s ease 1s infinite;
}
 /* @keyframes mobile {
    0%, 50%, 100% { transform: scale(1, 1); }
  30%, 80% { transform: scale(0.92, 0.95); }

    
 } */


.icons{
    background-color:;
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
   

}


.circle {
    display: flex;
    align-items:center;
    /*Margen entre items*/ margin: 40px 40px 0px 40px;
    justify-content: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



.circle i {
    font-size: 40px; 
    
}



.card_icon {
    display: flex;
    flex-direction: column;
    column-gap: 2px;
    align-items: center;
    width: 20%;
    font-size: 10px;
    color: #333333;
    margin-bottom: 1px;

    
}



.text-icon{
    font-size:15px ;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;

   
}

#purple{

    background-color:  rgba(170, 126, 236, 0.14);
     transition: transform 0.3s;
}
#green{
    background-color: rgba(25, 202, 148, 0.18);
     transition: transform 0.3s;
}
#red{
    background-color: rgba(255, 85, 110, 0.19);
     transition: transform 0.3s;
}
#orange{
    background-color: rgba(255, 179, 15, 0.18);
     transition: transform 0.3s;
}

#blue{

    background-color:rgba(79, 185, 232, 0.18);
    transition: transform 0.3s;
}

#blue:hover{
    transform: scale(1.1);
     filter: brightness(1.3);
     cursor: pointer;
}

#red:hover{
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}
#orange:hover{
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}
#purple:hover{
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}

#green:hover{
    transform: scale(1.1);
    filter: brightness(1.3);
    cursor: pointer;
}

/* @media only screen and (max-width: 600px) {
  body {
    width: 100%;
  }
}
@media  {
    
} */
